:root {
    --main: #487f56;
    --main-light: #70c482;
    --dark: #000;
    --dark-light: #101010;
    --white: #eee;
    --grey: rgb(169, 169, 169);
    --bone:  #f9f8f7c1;
    --bonefaded:  rgba(249, 248, 247, 0.83);
    --bonefaded2: rgba(252, 252, 252, 0.489);
    --greenfaded :  #65b6783f;
    --cream : #e7d1c9;
    --moka : #d0b49f;
}